<%@ page import="ipeer.entity.User" %>
<!DOCTYPE html>
<html>
<head>
  <meta name="layout" content="dashboard">
  <title>Reset Password</title>
</head>

<body>

<div>
  An email will be sent to your mail address if your account is found.
</div>

</body>
</html>
